@charset "utf-8";

*{ margin:0px; padding:0px; z-index:0; color:#ddd;}

h1
{
	color: #ddd;
	font-size: 50px;
	padding-top:20px;
	font-family:"Wellfleet";
	text-align: center;
}
h2
{
	color: #ddd;
	font-size: 20px;
	padding-top:20px;
	font-family:"Wellfleet";
	text-align: center;
}

a
{
	font-family:"Wellfleet";
	color: #ccc;
	text-decoration:none;
}
a:hover
{
	font-family:"Wellfleet";
	color: #fff;
	text-decoration:none;
}

.content
{
	margin: 0 auto;
	width: 960px;
}

.game_entry
{
	margin: 0px auto;
	padding: 200px 000px;
	width: 600px;
	height: 200px;
	vertical-align:middle;
	padding-top:600px;
	padding-right: 400px;
}

.game_entry_right
{
	margin: 0px auto;
	padding: 200px 000px;
	width: 600px;
	height: 200px;
	vertical-align:middle;
	padding-top:600px;
	padding-left: 400px;
}

.game_entry_block
{
	width: 600px;
	padding: 0px;
	margin: 0px;
	font-family:"Wellfleet";
	text-shadow: 2px 2px #111;
	color: #eee;
}

.game_screenshot
{
	float: right;
}

.game_divider
{
	vertical-align: middle;
	text-align: center;
}

.game_image
{
	float: left;
	width: 128;
	height: 128;
	margin: 0px 32px;
}


#wrapper
{
	background: #444;
}

/* HEADER */
#header 
{ 
	background: #777;
	margin: 0 auto; 
	position: fixed;
	width: 100%;
	z-index: 2;
}

#header_bar
{
	background: #eee;
	height: 4px;
	width: 100%;
}

#header_space
{
	padding-bottom: 800px;
	width: 100%;
}

#fixed_header
{
	background: #777;
	position: fixed;
	z-index: 1;
	width: 100%;
}

#fixed_title
{

}

#nav_centered
{
	width: 220px;
}

#nav ul {
	height: 60px;
	list-style: none;
	display: block;
	margin: 0 auto;
	text-align: center;
}
#nav li {
	margin-top: 20px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

#nav a img {
	width: 28px;
	padding-left:2px;
	padding-right:2px;
	height:auto;
	text-align:center;
	vertical-align:middle;
}
#nav a img:hover {
	width: 32px;
	padding-left:0px;
	padding-right:0px;
	height:auto;
	text-align:center;
	vertical-align:middle;
}


/* GAMES */
#games
{
}

#game_lostlight
{
	background: url('../img/oz_shot.png') 50% 0 no-repeat fixed;
	background-position: 000px 000px;
}

#game_cars
{
	background: url('../img/oz_shot.png') 50% 0 no-repeat fixed;
	background-position: 000px 000px;
}

#game_cars div img
{
	float: right;
}

#game_oz
{
	background: url('../img/oz_shot.png') 50% 0 no-repeat fixed;
	background-position: 000px 000px;
}


